<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
    <title>サンプル画面</title>
  </head>
  <body>
    基本編
    <div id="app" v-cloak>
      <h1 class="container">{{ message }}</h1>
    </div>
    <hr />
    テンプレート編
    <div id="template">
      <div class="container">
        <h1>【v-if】</h1>
        <p class="notification" v-if="0 < messages.count" v-cloak>
          You have {{ messages.count }} messages.
        </p>
        <p v-else>No messages.</p>
        <p>
          I am :
          <i class="fa fa-mars icon" v-if="user.gender === 'male'">Man</i>
          <i class="fa fa-venus icon" v-else-if="user.gender === 'female'"
            >Woman</i
          >
          <i class="fa fa-transgender icon" v-else>Others</i>
        </p>
        <hr />
        <h1>【v-show】</h1>
        <ul class="tab">
          <li class="tab-item"><button @click="toggle(1)">tab 1</button></li>
          <li class="tab-item"><button @click="toggle(2)">tab 2</button></li>
          <li class="tab-item"><button @click="toggle(3)">tab 3</button></li>
        </ul>
        <section class="tab-content" v-show="currentTab === 1">
          <h2>Tab 1</h2>
          <p>
            Lorem ipsum dolor sit amet, te sed dolor aliquam scripserit, ut
            blandit recteque ius, eripuit invenire ne duo.
          </p>
        </section>
        <section class="tab-content" v-show="currentTab === 2">
          <h2>Tab 2</h2>
          <p>
            At cum scripta admodum, ius habeo postea deterruisset ne, admodum
            oporteat eu vis.
          </p>
        </section>
        <section class="tab-content" v-show="currentTab === 3">
          <h2>Tab 3</h2>
          <p>
            Iuvaret efficiantur at est, eos alienum argumentum ei, nullam
            imperdiet ad sed.
          </p>
        </section>
        <hr />
        <h1>【v-for】</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Creator</th>
              <th>Github Stars</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="framework in frameworks">
              <td>{{ framework.name }}</td>
              <td>{{ framework.creator }}</td>
              <td>{{ framework.stars }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    クラスとスタイル編
    <div id="style">
      <div class="container">
        <h1 class="title">Welcome to Vue</h1>
        <p
          v-for="message in messages"
          class="text"
          :class="{ 'text-error': message.error }"
        >
          {{ message.text }}
        </p>
        <h1 class="h3 mb-4">Progress</h1>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            :style="{width: progress + '%'}"
          ></div>
        </div>
      </div>
    </div>
    <hr />
    フォーム入力編
    <div id="binding">
      <div class="container-fluid">
        <table class="table table-bordered">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>
          <thead>
            <tr>
              <th>Form</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-group mb-0">
                  <label>Text</label>
                  <input v-model="message" type="text" class="form-control" />
                </div>
              </td>
              <td>{{ message }}</td>
            </tr>
            <tr>
              <td>
                <div class="form-group mb-0">
                  <label>Textarea</label>
                  <textarea
                    v-model="description"
                    class="form-control"
                  ></textarea>
                </div>
              </td>
              <td>
                <pre class="mb-0">{{ description }}</pre>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group mb-0">
                  <label>Select</label>
                  <select v-model="framework" class="form-control">
                    <option value="vue">Vue.js</option>
                    <option value="react">React</option>
                    <option value="angular">Angular</option>
                  </select>
                </div>
              </td>
              <td>{{ framework }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    イベントとメソッド編
    <div id="event">
      <div class="container">
        <h1>Vue Form Sample</h1>
        <div class="form-content" v-if="submitted">
          <h2>フォームが送信されました</h2>
          <dl>
            <dt>満足度:</dt>
            <dd>{{ "⭐️".repeat(rating) }}</dd>
            <dt>コメント:</dt>
            <dd>
              <pre>{{ comment }}</pre>
            </dd>
          </dl>
          <button type="button" @click.prevent="clearForm">
            クリア
          </button>
        </div>
        <form @submit.prevent="onSubmit">
          <div class="form-group">
            <label for="rating">満足度</label>
            <select id="rating" v-model="rating">
              <option value="0">No star</option>
              <option value="1">⭐️</option>
              <option value="2">⭐️⭐️</option>
              <option value="3">⭐️⭐️⭐️</option>
              <option value="4">⭐️⭐️⭐️⭐️</option>
              <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
          </div>
          <div class="form-group">
            <label for="comment">コメント</label>
            <textarea id="comment" v-model="comment"></textarea>
            <p class="error-msg" v-if="error">{{ error }}</p>
          </div>
          <button type="submit">送信</button>
        </form>
        <h1>Vue.js Image Preview</h1>
        <input type="file" @change="onFileChange" accept="image/*" />
        <output>
          <img :src="previewUrl" v-if="previewUrl" />
          <p v-else>No image...</p>
        </output>
      </div>
    </div>
    <hr />
    算出プロパティ編
    <div id="computed">
      <div class="container">
        <label for="birthday">お誕生日は？</label>
        <input type="date" id="birthday" v-model="birthday" />

        <p v-if="age >= 0">{{ age }} 歳ですね！</p>
        <p v-else>お誕生日を正しく入力してください。</p>
        <p>
          <input type="number" v-model.number="left" />
          +
          <input type="number" v-model.number="right" />
          =
          {{ total }}
        </p>
        <p v-if="isComputedCalled" class="message">
          Computedが呼び出されました。
        </p>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="/app.js"></script>
  </body>
</html>
