<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <title>ショッピング画面</title>
</head>

<body>
    <div id="title-component">
        <page-header class="header">
            <h1 slot="header">Welecome to this site!!</h1>
        </page-header>
        <site-title-full v-bind:user-name="userName" v-bind:balance="balance"></site-title-full>
    </div>
    <div id="app" class="content" style="height: 260px;">
        <p>商品一覧</p>
        <coupon></coupon>
        <ul>
            <li v-for="item in items" :key="item.name">
                {{ item.name }}: {{item.price}} *
                <!-- <input type="number" @input="item.quantity = $event.target.value" :value="item.quantity" min=0> -->
                <input type="number" v-model="item.quantity" min=0>
                = {{ item.price * item.quantity | numberWithDelimeter | yen }}
            </li>
        </ul>
        <p>
            <p>{{ totalPrice | total | numberWithDelimeter | yen}}
                (税込：{{ totalPriceWithTax | numberWithDelimeter | yen}})</p>
            <p :class="errorMessageClass" v-show="checkBalance">残高が不足しています</p>
    </div>
    <div id="buttons">
        <buttons @buy-shohin="buyShohin" @clear-shohin="clearShohin"></buttons>
    </div>

    <script src="./app.js"></script>
</body>

</html>